*.iml
.gradle
/local.properties
# Android Studio settings: keep only the shared code style and inspections
/.idea/*
!/.idea/codeStyles/
!/.idea/inspectionProfiles/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin
